/* products */
.products-container{
  width: 75%;
}
.choosen-category__title {
  color: #000;
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;

  margin-bottom: 24px;
}
.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.product-item {
  min-width: 300px;
  border-radius: 18px;
  background: #fff;
  padding: 12px;
}
.product-item-img > img {
  width: 276px;
  height: 220px;
  border-radius: 12px;
}
.product-item-info{
  margin-top: 16px;
}
.product-price {
  color: #000;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 100%;
}
.product-desc {
  color: #000;
  font-size: 1.6rem;
  line-height: 130%;

  margin-top: 8px;
  margin-bottom: 29px;
}
.product-weight {
  color: #b1b1b1;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 130%;
}
.add-product {
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #f2f2f3;
  padding: 11px 0px;
  cursor: pointer;

  color: #000;
  font-size: 1.6rem;
  line-height: 100%;

  margin-top: 8px;
}
.add-product:hover {
  background: #f86310;
  color: #fff;
}


@media (max-width: 1024px) {
  .wrapper {
    max-width: 960px;
  }
  .products-container{
    width: 68%;
  }
  .products{
    justify-content: space-between;
  }
  
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
  .products-container{
    width: 100%;
  }
  .choosen-category__title {
    font-size: 2.8rem;

    margin-bottom: 16px;
  }
  .products {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
  }
  .product-item {
    width: 145px;
    min-width: 145px;
    border-radius: 12px;
    padding: 4px;
  }
  .product-item-img > img {
    width: 137px;
    height: 120px;
    border-radius: 8px;
  }
  .product-item-info{
    margin-top: 10px;
  }
  .product-price {
    font-size: 1.6rem;
  }
  .product-desc {
    font-size: 1.2rem;

    margin-top: 4px;
    margin-bottom: 16px;
  }
  .product-weight {
    font-size: 1.2rem;
  }
  .add-product {
    border-radius: 8px;
    padding: 9px 0px;
    font-size: 1.2rem;

    margin-top: 7px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 300px;
  }
  .products{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 279px) {
  .product-item {
    width: 100%;
  }
  .product-item-img > img {
    width: 100%;
    height: 200px;
  }
}