/* products */

.products-container {
  display: flex;
  flex-direction: column;
   /* align-items: center;
  justify-content: center; */
  gap: 20px;
  padding: 15px;
  /* margin-top :65px ; */
  width: 65%;
  position: relative;
 
}
.products-container>h1 {
  width: fit-content;
  position: absolute;
  top: -50px;
  left: 20px;
  color:#FF7020;
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 5px;
 /* padding: 10px; */
  /* border-bottom: #FFAB08 solid 5px;
  border-radius: 50%; */
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product-item {
  padding:12px;
  width: 300px;
  height: 430px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.product-item > img {
  width:276px ;
  height: 220px;
  border-radius: 12px;
}
.product-item > h2 {
  color: #000;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.product-item > h3 {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.product-item > span {
  color: #b1b1b1;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.product-item > button {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 12px;
  background: #F2F2F3;
  cursor: pointer;
}
.product-item > button:hover {
  cursor: pointer;
  background: #F86310;
  color: #fff;
}
