/* header */
header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: #e9e6e6; */
}



header > button {
  padding: 5px 10px;
  background: inherit;
  border-radius: 10px;
  border: none;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  
}
header > button.choosen {
  background-color: orange;
  padding: 5px 10px;
  color: #000;
  place-self: center;
  cursor: pointer;
  border: none;
}