.burger-logo-header {
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 355px;
  margin-bottom: 50px;
}


.burger-circle {
  width: 2880px;
  height: 2880px;
  background-color: #ffab08;
  position: absolute;
 
  border-radius: 2880px;
  top: -2490px;
  z-index: -2;
}


.logo-burger-img {
 width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  
}
.logo-burger-img>img {
  width:inherit;
}
.burger-logo {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.burger-logo > img {
  width: 280px;
  position: relative;
  top: -25px;

}

.burger-logo-info {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 30px;
}

.burger-logo-info > h1 {
  width: fit-content;
  color: #fff;
  font-family: Nunito;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.burger-logo-info > h1 > span {
  color: #ff5c00;
  font-family: Nunito;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.burger-logo-info > p {
  color: #fff;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.burger-logo-info > p > b {
  color: #fff;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
