.burger-logo-header {
  display: flex;

  flex-direction: column;
  justify-content: bottom;
  align-items: center;
  width: 100%;
  background-position: bottom;
  /* background-size: cover; */
  background-image: url("./img/bg-logo.png");
  height: 355px;
  margin-bottom: 50px;
}

.logo-burger-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
width: fit-content;
}
.burger-logo {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.burger-logo>img {
 width: 300px;
 position : relative;
 top: -55px;
 left: 0px;
}

.burger-logo-info{
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 15px;
}

.burger-logo-info > h1 {
  width: fit-content;
  color: #fff;
  font-family: Nunito;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.burger-logo-info > h1 > span {
  color: #ff5c00;
  font-family: Nunito;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.burger-logo-info > p {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.burger-logo-info > p> b {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

