@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(8, 8, 8);
  font-family: Nunito;
}
body {
  background-color: #eeeded;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
/* img {
  max-width: 250px;
} */
button {
  color: black;
}

/* !_-------__---- */

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.products {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}






